<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0cce3ac8-9730-4ba3-b859-32713d681319/resourceGroups/AnhNTQ12/providers/Microsoft.Web/sites/anhntq12app/slots/stagging</ResourceId>
    <ResourceGroup>AnhNTQ12</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://anhntq12app-stagging.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>anhntq12app-stagging.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>anhntq12app__stagging</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$anhntq12app__stagging</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MyDbConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=anhntq12.database.windows.net;Initial Catalog=staggingDB;Persist Security Info=True;User ID=anhntq12;Password=Gaupanda123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DotNetAppSqlDb.Models.MyDatabaseContext, DotNetAppSqlDb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MyDbConnection-Web.config Connection String">
      <ParameterValue>Data Source=anhntq12.database.windows.net;Initial Catalog=staggingDB;Persist Security Info=True;User ID=anhntq12;Password=Gaupanda123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>